<div *ngIf="mostrarError">
    <app-mensaje-error [mensajeError]="mensajeError" (emitirMostrar)="this.mostrarError = $event"></app-mensaje-error>
</div>

<div *ngIf="mostrarExito">
    <app-mensaje-exito [mensajeExito]="mensajeExito" (emitirMostrar)="this.mostrarExito = $event"></app-mensaje-exito>
</div>

<div class="row">
    <div class="col-lg-4 form-floating">
        <input type="number" class="form-control" id="numeroDocumento" [(ngModel)]="numeroDocumento"
            placeholder="Numero de documento *" required>
        <label for="numeroDocumento"><i class="bi bi-person-square mx-3"></i>Numero de documento</label>
    </div>
    <div class="col mt-2">
        <button type="button" class="btn btn-primary" [disabled]="!numeroDocumento"
            (click)="listarReservasPorUsuarioNumeroDocumento()">Buscar</button>
    </div>
</div>

<div *ngIf="reservas" class="mt-4">
    <div class="table-container">
        <table class="table table-primary mb-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Valor</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Reserva</th>
                    <th>Estado Reserva</th>
                    <th>Cancelar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light" *ngFor="let reserva of reservas">
                    <td>{{reserva.id}}</td>
                    <td>{{reserva.valor | currency:'COP':'symbol-narrow'}}</td>
                    <td>{{reserva.fechaCreacion | date: 'dd/MM/yyyy h:mm a'}}</td>
                    <td>{{reserva.fechaReserva | date: 'dd/MM/yyyy h:mm a'}}</td>
                    <td>{{reserva.reservaEstadoNombre}}</td>
                    <td><button *ngIf="reserva.reservaEstadoId === 1" class="btn" (click)="cancelarReserva(reserva)"><i class="bi bi-x-circle-fill"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>